<meta charset="UTF-8">
<title>BCA Theater Organizer</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/michele-bilko/theater-organizer/bootstrap-theme/bootstrap.min.css">


<!-- <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->

<style>
  body { padding-top:50px; }
</style>