<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="container-md bg-light">
        <div class="row">
            <div class="col-lg-6">
              <img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid" alt="image">
            </div>

            <div class="col-lg-6">
              <div class="container-fluid">
                <h1>Costume Name</h1>
                <h5 style="height:170px">Costume Description</h5>
                <a class="btn btn-primary btn-block align-bottom" href="rent">Rent</a>
              </div>
            </div>

            

            <div class="col-lg-6 py-5">
              <h1>Past Rentals</h3>
              <h5>January 5-January 12th</h5>
              <h5>January 5-January 12th</h5>
              <h5>January 5-January 12th</h5>
              <h5>January 5-January 12th</h5>
            </div>

        </div>
    </div>

    
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>