<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'), {variant: 'compact'}; %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Theater Organizer!</h1>
      <p>Subheading description thing</p>

      <!-- Difficulties with form down yonder-->
      <form 
        method="POST" 
        action="https://script.google.com/macros/s/AKfycbzisB9RLOW3QXThT1TXiOwgZaXhWgWBdPQYisEUPsqO1oLck9H8gi_WwUt2si-64u5b/exec">
        <input name="Costume Name" type="text" placeholder="Costume Name" required>
        <input name="Rented?" type="text" placeholder="Rented?" required>
        <input name="Rentable?" type="text" placeholder="Rentable?" required>
        <input name="Costume Image" type="text" placeholder="ENTER NULL" required>
        <button type="submit">Send</button>
        </form>


    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Look I'm A Sidebar!</h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>