<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'), {variant: 'compact'}; %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Theater Organizer!</h1>
      <p>Subheading description thing</p>

      <!-- Difficulties with form down yonder-->
      <form 
        method="POST" 
        action="https://script.google.com/macros/s/AKfycbxRr_Ie_398lPx2wCd9GRl0vOZ-TEcp8BGUAGxejRvxP3RuIjYZR1n6avcidSXvsjI9/exec">
        <input name="Email" type="email" placeholder="Email" required>
        <input name="Name" type="text" placeholder="Name" required>
        <!--<input name="Field3" type="text" placeholder="Field3" required>-->
        <button type="submit">Send</button>
        </form>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Look I'm A Sidebar!</h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>