<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'), {variant: 'compact'}; %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Costume Submission</h1>
      <a href = "https://docs.google.com/spreadsheets/d/1ITgw1CF55HWEFxTzyRVMamXU7OvZlmu-_7hSgaidDfo/edit?pli=1#gid=0" target=”_blank” >
        FORM ADDS DATA HERE (delete later)</a>
      <p>Login system will be implemented LATER!</p>

      <form 
        name = "costume-form"
        target = "_top"
        method="POST" 
        action="https://script.google.com/macros/s/AKfycbwvjoAx71aQTNY1UhckdWdiTRllp8DcIcEiW57PnwnYsEMdN4kvH1EKWkim9T_4s2Y/exec">
          <div class="form-group">
            <label for="Costume name">Costume name</label>
            <input name="Costume name" class="form-control" type="text" placeholder="Costume Name" required>
          </div>
          <div class="form-group">
            <p>Is this costume rented?</p>
            <input type="radio" id="rented" name="Rented?" value="y" required>
            <label for="rented">Yes</label><br>
            <input type="radio" id="notRented" name="Rented?" value="n" required>
            <label for="rented">No</label>
          </div>

          <div class="form-group">
            <p>Is this costume rentable?</p>
            <input type="radio" id="rentable" name="Rentable?" value="y" required>
            <label for="rented">Yes</label><br>
            <input type="radio" id="notRentable" name="Rentable?" value="n" required>
            <label for="rented">No</label>
          </div>

          <div class="form-group">
            <label for="Costume image">Costume image</label>
            <input name="Costume image" type="text" placeholder="Enter URL" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="Description">Description of costume</label>
            <textarea name="Description" placeholder="Description of costume..." rows="4" cols="50" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="Tags">Tags</label>
            <textarea name="Tags" placeholder="List tags separated by a comma..." rows="4" cols="50" class="form-control"></textarea>
          </div>

          <!-- <div class="form-group">
            <select class="form-control form-select" multiple data-mdb-placeholder="Costume Type" name="Color" multiple>
              <option selected>Open this select menu</option>
              <option value="Red">Red</option>
              <option value="Orange">Orange</option>
              <option value="Yellow">Yellow</option>
              <option value="Green">Green</option>
              <option value="Blue">Blue</option>
              <option value="Purple">Purple</option>
              <option value="Pink">Pink</option>
              <option value="Brown">Brown</option>
              <option value="White">White</option>
              <option value="Black">Black</option>
              <option value="Grey">Grey</option>
            </select>
          </div> -->

          <div class="form-group">
            <select class="form-control form-select" name="Size">
              <option selected>Size of costume</option>
              <option value="Extra small">XS</option>
              <option value="Small">S</option>
              <option value="Medium">M</option>
              <option value="Large">L</option>
              <option value="Extra large">XL</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Send</button>
        </form>

        <div id="successmsg" hidden>
            <div class="alert alert-success">
                <strong>Success!</strong> The costume has been added.
            </div>
        </div>
        
        
        <div id="errormsg" hidden>
            <div class="alert alert-danger">
                <strong>Error!</strong> There was an error adding your costume.
            </div>
        </div>

    </div>
  </div>

  

  <script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbx6_sDjKzNxusoNtXFgvbOecrqS4ya3Wqzh0ONjvedQWp3JGlM9dcf8HSPRdygbOTe5/exec'
    const form = document.forms['costume-form'];
    const successmsg=document.getElementById('successmsg');
    const errormsg=document.getElementById('errormsg');

    setTimeout(form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => console.log('Success!', response),
        //show success message
        successmsg.hidden=false,
        )
        .catch(error => errormsg.hidden=false)
        //show error message
  
        form.reset();
    }), 3000)

  </script>


<!-- PROP FORM -->

<div class="col-sm-8">
  <div class="jumbotron">
    <h1>Prop Submission</h1>
    <p>Login system will be implemented LATER!</p>

    <!--Action link needs to be changed-->
    <form 
      name = "prop-form"
      target = "_top"
      method="POST" 
      action="https://script.google.com/macros/s/AKfycbwvjoAx71aQTNY1UhckdWdiTRllp8DcIcEiW57PnwnYsEMdN4kvH1EKWkim9T_4s2Y/exec">
        <div class="form-group">
          <label for="Prop name">Prop name</label>
          <input name="Prop name" class="form-control" type="text" placeholder="Prop Name" required>
        </div>
        <div class="form-group">
          <p>Is this prop rented?</p>
          <input type="radio" id="rented" name="Rented?" value="y" required>
          <label for="rented">Yes</label><br>
          <input type="radio" id="notRented" name="Rented?" value="n" required>
          <label for="rented">No</label>
        </div>

        <div class="form-group">
          <p>Is this prop rentable?</p>
          <input type="radio" id="rentable" name="Rentable?" value="y" required>
          <label for="rented">Yes</label><br>
          <input type="radio" id="notRentable" name="Rentable?" value="n" required>
          <label for="rented">No</label>
        </div>

        <div class="form-group">
          <label for="Prop image">Prop image</label>
          <input name="Prop image" type="text" placeholder="Enter URL" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="Description">Description of prop</label>
          <textarea name="Description" placeholder="Description of prop..." rows="4" cols="50" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="Tags">Tags</label>
          <textarea name="Tags" placeholder="List tags separated by a comma..." rows="4" cols="50" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
      </form>

      <div id="successmsg" hidden>
          <div class="alert alert-success">
              <strong>Success!</strong> The prop has been added.
          </div>
      </div>
      
      
      <div id="errormsg" hidden>
          <div class="alert alert-danger">
              <strong>Error!</strong> There was an error adding your prop.
          </div>
      </div>

  </div>
</div>



<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbx6_sDjKzNxusoNtXFgvbOecrqS4ya3Wqzh0ONjvedQWp3JGlM9dcf8HSPRdygbOTe5/exec'
  const form = document.forms['prop-form'];
  const successmsg=document.getElementById('successmsg');
  const errormsg=document.getElementById('errormsg');

  setTimeout(form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => console.log('Success!', response),
      //show success message
      successmsg.hidden=false,
      )
      .catch(error => errormsg.hidden=false)
      //show error message

      form.reset();
  }), 3000)

</script>

  <div class="col-sm-4">
    <div class="well">
      <h3>Look I'm A Sidebar!</h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>